@{
    ViewData["Title"] = "Product Edit Page";
}

<form asp-controller="product" asp-action="edit" enctype="multipart/form-data" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="text" name="Name" placeholder="Name" value="@Model.Name"/><br /> 
    <input type="text" name="Price" placeholder="Price" value="@Model.Price"/><br />
    <input type="file" name="files" multiple required />
    <input type="submit" value="상품 수정" />
</form>

