@{
    ViewData["Title"] = "Product Register Page";
}

<form asp-controller="product" asp-action="register" enctype="multipart/form-data" method="post">
    <input type="text" name="Name" placeholder="Name"/><br /> 
    <input type="text" name="Price" placeholder="Price"/><br />
    <input type="file" name="files" multiple required />
    <input type="hidden" name="RegisterUserId" value="@ViewBag.userId" />
    <textarea name="Document"></textarea>
    <input type="submit" value="상품 등록" />
</form>
