@{
    ViewData["Title"] = "Signup Page";
}
            @if(TempData["Error"] != null)
            {
                <div class="col-md-12 alert alert-danger">
                    <span><b>Sorry!</b> - @TempData["Error"] </span>
                </div>
            }

@*꾸미기만 하면 완료*@
<form asp-controller="Account" asp-action="Signup" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <input type="text" name="name" placeholder="Id" value="apple5"/>    
    <input type="password" name="password" placeholder="password" value="Dkagh1234!"/>   
    <input type="text" name="email" placeholder="email" value="apple5@gmail.com"/> 
    <input type="hidden" name="role" value="@ViewBag.role"/>
    <button>회원가입</button>
</form>


@*@if(ViewBag.error != null)
{
    @foreach (var error in ViewBag.error)
    {
        <div>@error</div>
    }
}
*@
